body{
  margin-top: 100px;
}

.homeLogo{
  width:22rem;
  box-shadow: 3px 3px 7px rgba(224, 159, 146, 0.5);
}

.landing{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 100px 0;
}

.landing > p{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #D8806B;
  width:25em;
  color:white;
  text-align: center;
  font:400 0.7rem 'Inter Tight', sans-serif;
  padding:30px 20px;
  position:relative;
  bottom:75px;
  box-shadow: 1px 1px 7px rgba(224, 159, 146, 0.7);
}

.landing > img {
  border-radius: 50%;
}

.landing-image {
  display:none;
}


@media screen and (min-width:820px) {
  #homeLogo {
    width: 25rem;
  }

  .landing-image {
    display:block;
    position:absolute;
    width: 18%;
  }

  .landing > p{
    font-size:0.8rem;
  }

  .left{
    right: 50px;
  }
  
  .right{
    left: 50px;
  } 
}

@media screen and (min-width:1280px) {
  .homeLogo {
    width: 30rem;
  }

  .landing > p{
    font-size:1rem;
  }
}